# SD gitconfig 15.08.2015
[core]
	user = Steffen Dietz
	email = sd@dietaikonauten.com
	filemode = false
	editor = vim

[user]
	name = Steffen Dietz
	email = sd@dietaikonauten.com

[push]
	default = simple

[color]
	ui = true

[commit]
	template = ~/.gittemplate.txt

[url "https://github.com/"]
	insteadOf = gh:

[url "https://gist.github.com/"]
	insteadOf = gist:

[url "git@bitbucket.org"]
	insteadOf = bb:

[url "ssh://git@gitlab.taikocloud.com:32"]
	insteadOf = taiko:
